article {
    /* border: 5px solid black; */
    display: inline-block;

}
h3 {
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}
h1 {
    margin: 0;
    text-align: center;
}
p {
    text-align: center;
}
.checkers {
    position: relative;
    top: 90px;
    left: 70px;
    z-index: 1;
    display: inline-flex;
    font-size: 10px;
    color: black;
}

.properties {
    position: absolute;
    top: 22px;
    left: 119px;
    color: white;

}
body {
    background: no-repeat center fixed;
    background-size: cover;
    background-image: url("gifs/yellowBG.png");
}


#circle {
    background-color: darkslateblue;
    border: 5px solid darkgray;
    border-radius: 50%;
    height: 420px;
    width: 405px;
    position: absolute;
    left: 515px; 
   
}
img {
    width: 295px;
    height: 195px;
    position: relative;
    left: 55px;
    top: 50px;
    border-radius: 20%;
    border: 5px outset rgb(0, 0, 255);
}

.feed, .play, .goSleep {
    left: -10px;
    font-size: 28px;
    position: relative;
    border-radius: 36%;
    margin: 7px;
    top: -15px;
}
.buttons {
    position: relative;
    top: 78px;
    left: 77px;
}
.hunger, .bored, .sleepy {
    margin: 5px;
}

@keyframes shake {
    0%{
        margin-left:5px;
    }
    100%{
        margin-left:0;
        margin-right:5px;
    }
}
.shake {
    position: absolute;
    left: 86px;
    top: 45px;
    font-size: 25px;
    border-radius: 36%;
}